#container{
	width: 900px;
	margin:0 auto;
}

#display{
	margin: 0 auto;
	background-color: yellow;
	width: 800px;
}


#dropbox{
	background-color: #bbb;
	margin: 0 auto;
	margin-top: 50px;
	width: 800px;
	height: 150px;
}

#progressbar{
	margin-top: 20px;
	margin-left: 50px;
	width: 800px;
}

#display > div{
	margin-top: 10px;
	position: relative;
	display: inline-block;
	margin-left: 85px;
	width: 100px;
	height: 100px;
}

#display > div > :nth-child(1){
	width: 100px;
	height: 100px;
	float: left;
}

#display > div > :nth-child(2){
	display: none;
	position: absolute;
	top: 5px;
	left: 50px;
	background-color: blue;
	width: 18px;
	height: 18px;
	text-align: center;
	cursor: pointer;
}


#display > div > :nth-child(3){
	display: none;
	position: absolute;
	top: 5px;
	left: 73px;
	background-color: blue;
	width: 18px;
	height: 18px;
	text-align: center;
	cursor: pointer;
}

td{
	border: 1px solid black;
}

table{
	border-collapse:collapse;
}
.NW{
	height: 10px;
	width: 10px;
	cursor: nw-resize;
}

.N{cursor: n-resize;}
.NE{cursor: ne-resize;}
.E{cursor: e-resize;}
.W{cursor: w-resize;}
.SW{cursor: sw-resize;}
.S{cursor: s-resize;}

.SE{
	height: 10px;
	width: 10px;
	cursor: se-resize;
}



