#container{
	width: 900px;
	margin:0 auto;
}

#display{
	margin: 0 auto;
	background-color: yellow;
	width: 800px;
}


#dropbox{
	background-color: #bbb;
	margin: 0 auto;
	margin-top: 50px;
	width: 800px;
	height: 150px;
}

#progressbar{
	margin-top: 20px;
	margin-left: 50px;
	width: 800px;
}

#display > div{
	margin-top: 10px;
	position: relative;
	display: inline-block;
	margin-left: 85px;
	width: 100px;
	height: 100px;
}

#display > div > :nth-child(1){
	width: 100px;
	height: 100px;
	float: left;
}

#display > div > :nth-child(2){
	display: none;
	position: absolute;
	top: 5px;
	left: 50px;
	background-color: blue;
	width: 18px;
	height: 18px;
	text-align: center;
	cursor: pointer;
}


#display > div > :nth-child(3){
	display: none;
	position: absolute;
	top: 5px;
	left: 73px;
	background-color: blue;
	width: 18px;
	height: 18px;
	text-align: center;
	cursor: pointer;
}

#background{
	opacity: 0.8;
	background-color: grey;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

#original{
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
}

table{
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

#center{
	position: absolute;
}

td{
	border: 1px solid black;
}
