#container{
	width: 900px;
	margin:0 auto;
}

#display{
	margin: 0 auto;
	background-color: yellow;
	width: 800px;
}


#dropbox{
	background-color: #bbb;
	margin: 0 auto;
	margin-top: 50px;
	width: 800px;
	height: 150px;
}

#progressbar{
	margin-top: 20px;
	margin-left: 50px;
	width: 800px;
}

.box{
	position: relative;
	display: inline-block;
	margin-left: 100px;
}

.edit{
	display: none;
	position: absolute;
	top: 5px;
	left: 23px;
	background-color: blue;
	width: 16px;
	height: 16px;
	text-align: center;
}


.delete{
	display: none;
	position: absolute;
	top: 5px;
	left: 42px;
	background-color: blue;
	width: 16px;
	height: 16px;
	text-align: center;
}

